extends layout

block layout-content
  div.View.CropView
    h1.Banner Howdy!
    div.Message
      div.Title
        h3 Perfect Moments
        h1 Cropper
    div.NavButtons
      a(href="/help")
        div.NavButton Help
